@import url('error.css');

:root {
    --primary-color-code: 59, 39, 21;
    --accent-color-code: 136, 136, 68;
    --primary-color: rgba(var(--primary-color-code), 1);
    --primary-color-100: rgba(var(--primary-color-code), 0.1);
    --primary-color-200: rgba(var(--primary-color-code), 0.2);
    --primary-color-300: rgba(var(--primary-color-code), 0.3);
    --primary-color-400: rgba(var(--primary-color-code), 0.4);
    --primary-color-500: rgba(var(--primary-color-code), 0.5);
    --primary-color-600: rgba(var(--primary-color-code), 0.6);
    --primary-color-700: rgba(var(--primary-color-code), 0.7);
    --primary-color-800: rgba(var(--primary-color-code), 0.8);
    --primary-color-900: rgba(var(--primary-color-code), 0.9);
    --primary-font-color: rgba(230, 230, 230);
    --primary-font-color-900: rgba(255, 255, 255);
    --accent-color: rgba(var(--accent-color-code), 1);
    --accent-color-100: rgba(var(--accent-color-code), 0.1);
    --accent-color-200: rgba(var(--accent-color-code), 0.2);
    --accent-color-300: rgba(var(--accent-color-code), 0.3);
    --accent-color-400: rgba(var(--accent-color-code), 0.4);
    --accent-color-500: rgba(var(--accent-color-code), 0.5);
    --accent-color-600: rgba(var(--accent-color-code), 0.6);
    --accent-color-700: rgba(var(--accent-color-code), 0.7);
    --accent-color-800: rgba(var(--accent-color-code), 0.8);
    --accent-color-900: rgba(var(--accent-color-code), 0.9);
    --accent-font-color: rgba(255, 255, 255);
    --accent-font-color-900: rgba(255, 255, 255);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.main {
    /*background: url('../images/background_1.png');
    background-size: cover;*/
    background-color: #161616;
    color: var(--primary-font-color);
}

button {
    border-radius: .5rem;
    border: 2px solid var(--primary-color);
    background: var(--primary-color-500);
    box-shadow: none;
    color: var(--primary-font-color);
}

    button:hover {
        background: var(--primary-color);
    }

a.selected .toolbar-item {
    opacity: 1;
    background: var(--accent-color);
    border-radius: .2rem;
}

.toolbar {
    background: #111;
}

    .toolbar > div {
        max-width: 40rem;
        margin: auto;
    }

.toolbar-item.active {
    opacity: 1;
}

.toolbar-item {
    opacity: .5;
}

/*.toolbar-notification {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 0;
    font-size: .75rem;
    font-weight: bold;
    padding: .2rem;
    padding-inline: .3rem;
    border-radius: .5rem;
}

a:has(.toolbar-item){
    position: relative;
}*/