.room-action {
    background: var(--primary-color-500);
    color: var(--primary-font-color);
    border-radius: .5rem;
    min-width: 6.5rem;
    font-size: .8rem;
    cursor: pointer;
}

    .room-action.active {
        background: var(--accent-color-300);
        border: 1px solid var(--accent-color);
    }

        .room-action.active:hover {
            background: var(--accent-color-3600);
        }

    .room-action:hover {
        background: var(--primary-color);
    }

    .room-action .icon {
        text-align: center;
    }
